<mat-toolbar class="header">
    <span class="title">{{'user.addtitle' | translate}} </span>
</mat-toolbar>


<form [formGroup]="userForm" (ngSubmit)="submitForm()" novalidate>
    <!-- First Name -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'user.firstname' | translate}}" formControlName="firstName">
        <!-- error -->
        <mat-error  *ngIf="userForm.controls['firstName'].invalid && (userForm.controls['firstName'].dirty || userForm.controls['firstName'].touched)">
            {{ 'user.must.provide.firstname' | translate}}
        </mat-error>
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'user.lastname' | translate}}" formControlName="lastName">
        <!-- error -->
        <mat-error *ngIf="userForm.controls['lastName'].invalid && (userForm.controls['lastName'].dirty || userForm.controls['lastName'].touched)">
            {{ 'user.must.provide.lastname' | translate}}
        </mat-error>
    </mat-form-field>

    <!-- Gender -->
    <div class="misc-bottom-padding">
        <mat-label> {{'user.gender' | translate}} </mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Male">{{ 'gender.male' | translate}}</mat-radio-button>
            <mat-radio-button value="Female">{{'gender.female' | translate}}</mat-radio-button>
        </mat-radio-group>
    </div>


    <!-- Designation -->
    <mat-form-field>
        <mat-label> {{'user.designation' | translate}} </mat-label>
        <mat-select [(value)]="selected" formControlName="designation">
            <mat-option [value]="designation" *ngFor="let designation of designationArray">{{designation}}
            </mat-option>
        </mat-select>
    </mat-form-field>


    <!-- Address -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'user.address' | translate}} " formControlName="address">
    </mat-form-field>


    <!-- City -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'user.city' | translate}} " formControlName="city">
    </mat-form-field>


    <!-- State -->
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{'user.state' | translate}} " formControlName="state">
    </mat-form-field>

    <!-- Submit -->
    <div class="button-wrapper">
        <button mat-raised-button color="primary"> {{'button.submit' | translate}} </button>
        <button type="button" mat-raised-button class="pl-4" color="warn" (click)="onCancel()">
            {{'button.cancel' | translate}} </button>
    </div>
</form>