<ng-container>
    <button mat-raised-button (click)="addUser()"> {{'user.addtitle' | translate}} </button>

    <button mat-raised-button (click)="editUser()" [disabled]="selection.selected.length != 1"> {{'user.edit' | translate}} </button>

    <button mat-raised-button (click)="deleteUser()" [disabled]="selection.selected.length == 0"> {{'user.delete' | translate}} </button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5">

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(element) : null"
                    [checked]="selection.isSelected(element)" [aria-label]="checkboxLabel(element)">
                </mat-checkbox>
            </td>
        </ng-container>

        <!-- User ID Column -->
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> {{'user.userid' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> {{'user.firstname' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> {{'user.lastname' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Gender Column -->
        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef> {{'user.gender' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
        </ng-container>

        <!-- Designation Column -->
        <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef> {{'user.designation' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</ng-container>