/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// html,body{height:100%;}
// body{margin:0;font-family:Roboto, "Helvetica Neue", sans-serif;}
// form{width:420px;margin:35px auto 100px;display:block;float:none;}
// .title-center{margin:0 auto;}
// .button-wrapper{margin-top:10px;}